.create-entity {
margin: 20px auto;
}
.create-entity-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}

.create-entity-title {
text-align: center;
color: #777;
margin-bottom: 20px;
}

.create-entity-field {
	background-color: #EEEEEE;
	border: none;
	border-left: 5px solid #06a783;
	width: 100%;
}

.create-entity-form {
	text-align: center;
}

.control-group {
	margin-bottom: 10px;
}